/*
Colors used
Primary Orange (Orange): #f09641;
Secondary Color (Black): #333333;
Tertiary Color (Grey): #bebebe
Split-Complementary Value (Teal):#41f0e7
*/
* {
  box-sizing: border-box;
}

body {
  font-family: 'Dosis', sans-serif;
  font-size: 23px; /* Sets the font size to 16px */
  line-height: 1.6; /* Sets the line-height to 1.6 */
  background-color: #fff;
  color: #333;
  font-weight: 400;
}

h1 {
  font-size: 2.5em;
  font-weight: 700;
  text-align: center;
  margin-top: 0;
  padding-top: 0.67em;
  max-width: 1000px;
}

h2 {
  font-size: 1.75em;
  font-weight: 700;
  margin-top: 0;
  padding-top: 0.83em;
}

h3 {
  font-size: 1.25em;
  font-weight: 700;
}

/* Link Styles */
a {
  color: #f09641;
  text-decoration: none;
}

a:visited {
  color: #f09641;
}

a:hover, a:focus {
  text-decoration: underline;
}

a:active {
  color: #41f0e7;
  text-decoration: none;
}

img {

width: 100%;

}

#about img {
  max-width: ;
}

/* Buttons */

.button {
  /* overwrite browser defaults */
  border: none; /* reset the border */
  background-color: #f09641;
  color: white !important;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #f09641; /* width of the border, type, color */
  transition: 0.2s opacity;
  display: inline-block;
}

.button:hover, .button:focus {
  opacity: 0.8;
  text-decoration: none;
}

.centertext {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

.heading {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 40px 0;
  margin-bottom: 20px;
}

/* header */
header {
  background-color:#e5e5e5;
  padding: 10px 0 5px;
}


.logo {
  width: 100px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

nav {
  float: right;
  margin-top: 32px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  float: left;
  margin-left: 40px;
}

#triangle h2.section-title:after {
    position: absolute;
    content:;
    top: 100%;
    left: 50%;
    width: 0;
    height: 0;
    border-top: 0.5em #212121 solid;
    border-right: 0.5em solid transparent;
    border-bottom: 0.5em solid transparent;
    border-left: 0.5em solid transparent;
    margin-left: -0.5em;
}

/* Container & Columns */
.container {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

.row::after {
  content: "";
  clear: both;
  display: table;

}

.row-style {
padding: 20px 0;
display: inline-block;
border-bottom: 1px solid #e2e2e2;
width: 100%;
margin-left: auto;
margin-right: auto;
margin-top: auto;
margin-bottom: auto;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.col-lg-5 {
  width: 41.66%;;
}

.col-lg-7 {
  width: 58.33%;
}

.col-lg-6 {
  width: 50%;

}

/* hero & work */
#hero {
  padding: 30px 0;
}

#hero h1 {
  color: #f09641;
}

#hero .container, footer .container {
  max-width: 770px;
}

#about h1 {
  color: #f09641;
}

#about h1, h2 {
  text-align: center;

}

#about img {
width: 500px;}

#work h2 {
  padding: 0;
  margin: 0;
}

/* footer */
footer {
  background-color: #e5e5e5;
  text-align: center;
  margin-top: 10px;
}

footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}

footer ul li {
  float: left;
  padding: 30px;
}

footer .fab {
  font-size: 38px;
}


/*Animation*/

@keyframes color-change {
  0% {
    fill: #f2e1bf;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }
  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }
  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

/*project page*/

.project-page h1 span {
  font-style: italic;
}

.project-page main .container {
  max-width: 1000px;
}

.process-section {
  padding-bottom: 40px;
}
/* ==============================
Medium devices (larger than 767px)
================================= */
@media only screen and (max-width: 1024px) {
  body {
    font-size: 18px;
  }

  .col-md-6 {
    width: 50%;
  }

  .container {
    padding: 0 20px;
  }

  #about img {
  width: 350px;}

#about h2 {

  text-align: left;
}

#skills-tools h2 {
  text-align: left;
}
.row-style {
padding: 20px 15px;
}

}
/* ==============================
Small devices (smaller than 768px)
================================= */
@media only screen and (max-width: 767px) {
  body {
    font-size: 16px;
  }

  header {
    text-align:center;
  }

  .logo {
    width: 70px;
  }

  #about img {
  width: 250px;}

  nav {
    float: none;
    margin-top: 10px;
  }

  nav ul {
    display: inline-block;
  }

  nav ul li {
    margin: 0 20px;
  }

  h1 {
    font-size: 2em;
    line-height: 1.4;
  }

  .container {
   padding: 0 15px;
 }

 [class*="col-"] {
   padding: 0;
 }

 .col-sm-12 {
   width: 100%;
 }

  #about img {
    width:50%;
  }

  .row-style {
  padding: 20px 15px;
  }

}
